$primary: #3DADF5;
$btn-border-radius: 4px;
$btn-font-weight: bold;
$input-btn-padding-y: 0.7rem;
$input-btn-padding-x: 1.5rem;
$font-size-base: 1.1rem;
$spacer: 1.5rem;
$headings-margin-bottom:      ($spacer / 1);
$input-placeholder-color: #aaa;

@import "~bootstrap/scss/bootstrap";
@import "./react-phonenumber";
@import "./font";

body {
  color: #002B36;
  font-family: Akkurat;
} 

label {
  margin-top: 15px;
  font-size: 16px;
  font-weight: bold;
} 

.table-striped>thead>tr>th {
  border-bottom: 1px solid #dadada;
} 

.table-striped>tbody>tr {
  >td {
    border: none;
  } 

  &:nth-child(odd)>td {
    background-color: #f8f9fa;
  }
}

@keyframes ScrollRight {
  0% {
    background-position: 0px;
  }
  100% {
    background-position: 1000px;
  }
}

@keyframes ScrollLeft {
  0% {
    background-position: 1000px;
  }
  100% {
    background-position: 0px;
  }
}

.nav-item.active {
  background: #ccc
} 

.dropdown-toggle::after {
  right: 0;
  margin-left: 20px;
  margin-bottom: -2px;
  color: #999;
}

#camcontrols {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0px;
  left: 0px;
} 

#crosshair {
  position: absolute;
  display: block;
  width: 200px;
  height: 200px;
  border: 10px dashed white;
  top: 50%;
  left: 50%;
  margin: -100px 0 0 -100px;
} 

#controls {
  position: absolute;
  margin-left: auto;
  left: 50%;
  display: block;
  width: 300px;
  bottom: 10px;
  background: white;
  text-align: center;
  color: black;
  font-family: Roboto, sans-serif;
  font-size: 32px;
  border-radius: 15px;
  z-index: 500;
  margin: 0 0 0 -150px;
} 

.nav-link {
  margin-top: 5px;
  margin-bottom: 15px;
} 

a.nav-link {
  color: #333;
} 

.nav-item.active {
  background: inherit !important;
  font-weight: bold;
} 

.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-brand {
  font-size: 24px;
  font-weight: bold;
  color: #002B36 !important;
  margin-left: 35px;
} 

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

#sidebar {
  font-size: 1.2rem;
  width: 280px;
  background: #F8F9FA;
  color: #000;
  transition: all 0.3s;
  border-right: 1px solid #f0f0f0;
  padding-top: 40px;
  padding-left: 50px;
}

#content, .modal-content {
  font-size: 16px;
  p {
    color: gray;
  } 
}

#content {
  padding: 30px;
  width: 100%;
  transition: all 0.3s;
  text-align: left;
  max-width: 1000px;
} 

#content.active {
  width: 100%;
}

@media (max-width: 991px) {
  #sidebar {
     display: none; 
  }

  #content {
    margin-left: 0;
    padding: 30px 10px;
  } 

  .nav-link {
    margin-top: 5px;
    margin-bottom: 0;
    margin-left: 30px;
  } 

  .card {
    padding: 0px 30px !important;
  } 
}

.text-break {
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word;
}

.modal-header .close {
  opacity: 1;
} 

.modal-close {
  cursor: pointer;
  font-size: 34px;
  margin-top: -7px;
  margin-right: 10px;
}

.system-warning {
  color: white;
  font-size: 18px;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  width: calc(100% + 20px);
  margin: 10px -10px -20px -10px;
  background: #de5f4a;
} 

.input-group.is-invalid {
  ~ .invalid-feedback {
    display: block;
  }
}

.collapsing {
  -webkit-transition: none;
  transition: none;
  display: none;
}

.card {
  border: 0;
  box-shadow: 0 0.2rem 0.6rem rgba(0, 0, 0, 0.15);
  padding: 10px 20px;
  border-radius: 8px;
}

.btn {
  font-size: 16px;
}

input { 
  max-width: 100%;
}

.custom-control-label::before, .custom-control-label::after {
  top: 0.2rem;
} 
