input[type="range"] {
  -webkit-appearance: none;
  width: 100%;
  margin: 6.3px 0;
}
input[type="range"]:focus {
  outline: none;
}
input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 6.4px;
  cursor: pointer;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  background: #3fadf5;
  border-radius: 5.7px;
  border: 0px solid #000101;
}
input[type="range"]::-webkit-slider-thumb {
  box-shadow: 0.3px 0.3px 0.3px #000000, 0px 0px 0.3px #0d0d0d;
  border: 0.5px solid #250000;
  height: 19px;
  width: 32px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -6.3px;
}
input[type="range"]:focus::-webkit-slider-runnable-track {
  background: #3fadf5;
}
input[type="range"]::-moz-range-track {
  width: 100%;
  height: 6.4px;
  cursor: pointer;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  background: #3fadf5;
  border-radius: 5.7px;
  border: 0px solid #000101;
}
input[type="range"]::-moz-range-thumb {
  box-shadow: 0.3px 0.3px 0.3px #000000, 0px 0px 0.3px #0d0d0d;
  border: 0.5px solid #250000;
  height: 19px;
  width: 32px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}
input[type="range"]::-ms-track {
  width: 100%;
  height: 6.4px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type="range"]::-ms-fill-lower {
  background: #3fadf5;
  border: 0px solid #000101;
  border-radius: 11.4px;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}
input[type="range"]::-ms-fill-upper {
  background: #3fadf5;
  border: 0px solid #000101;
  border-radius: 11.4px;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}
input[type="range"]::-ms-thumb {
  box-shadow: 0.3px 0.3px 0.3px #000000, 0px 0px 0.3px #0d0d0d;
  border: 0.5px solid #250000;
  height: 19px;
  width: 32px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
  height: 6.4px;
}
input[type="range"]:focus::-ms-fill-lower {
  background: #3fadf5;
}
input[type="range"]:focus::-ms-fill-upper {
  background: #3fadf5;
}


input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  margin: 6.3px 0;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 6.4px;
  cursor: pointer;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  background: #3fadf5;
  border-radius: 5.7px;
  border: 0px solid #000101;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 0.3px 0.3px 0.3px #000000, 0px 0px 0.3px #0d0d0d;
  border: 0.5px solid #250000;
  height: 19px;
  width: 32px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -6.3px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #3fadf5;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 6.4px;
  cursor: pointer;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  background: #3fadf5;
  border-radius: 5.7px;
  border: 0px solid #000101;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 0.3px 0.3px 0.3px #000000, 0px 0px 0.3px #0d0d0d;
  border: 0.5px solid #250000;
  height: 19px;
  width: 32px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 6.4px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #3fadf5;
  border: 0px solid #000101;
  border-radius: 11.4px;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}
input[type=range]::-ms-fill-upper {
  background: #3fadf5;
  border: 0px solid #000101;
  border-radius: 11.4px;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}
input[type=range]::-ms-thumb {
  box-shadow: 0.3px 0.3px 0.3px #000000, 0px 0px 0.3px #0d0d0d;
  border: 0.5px solid #250000;
  height: 19px;
  width: 32px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
  height: 6.4px;
}
input[type=range]:focus::-ms-fill-lower {
  background: #3fadf5;
}
input[type=range]:focus::-ms-fill-upper {
  background: #3fadf5;
}
