.loading {    
    background-color: #ffffff;
    background-image: url("http://loadinggif.com/images/image-selection/3.gif");
    background-size: 25px 25px;
    background-position:right center;
    background-repeat: no-repeat;
}

.mytextwithicon {
    position:relative;
}    
.mytextwithicon:before {
    content: "\f058";
    font-family: FontAwesome;
    left:-5px;
    position:absolute;
    top:0;
 }
