@keyframes ScrollRight {
  0% {
    background-position: 0px;
  }
  100% {
    background-position: 1000px;
  }
}

@keyframes ScrollLeft {
  0% {
    background-position: 1000px;
  }
  100% {
    background-position: 0px;
  }
}
